// MOBILE
.heading {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  margin: 0 auto;
  background: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/heading-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background: linear-gradient(
        to top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/heading-bg-mobile@2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
// TABLET
@media screen and (min-width: 768px) {
  .heading {
    background: linear-gradient(
        to top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/heading-bg-tablet.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background: linear-gradient(
          to top,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/heading-bg-tablet@2x.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
// DESKTOP
@media screen and (min-width: 1200px) {
  .heading {
    max-width: 1600px;
    margin: 0 auto;
    padding: 200px 0;
    background: linear-gradient(
        to top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/heading-bg-desktop.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background: linear-gradient(
          to top,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/heading-bg-desktop@2x.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
