.button-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--contrast-color);
  top: 8px;
  right: 8px;
  fill: rgba(0, 0, 0, 1);
}
