.contact-foot {
  font-style: inherit;
}
.contact-foot__list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}
.contact-foot__item {
  color: var(--contrast-color);
  line-height: 1.71;
  margin-block: 9px;
}
.contact-foot__link {
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: var(--main-transition-duration);
  transition-timing-function: var(--main-transition-timing-function);
  &:hover,
  &:focus {
    color: var(--brand-color);
  }
}
