.current-page {
  color: var(--brand-color);

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -32px;
    background-color: var(--brand-color);
    height: 4px;
    width: 58px;
    transition-property: background-color;
    transition-duration: var(--main-transition-duration);
    transition-timing-function: var(--main-transition-timing-function);
  }
}
