.form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
}
.form__title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.17;
}
.form__label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--second-text-color);
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 1.17;
}
.form__item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: var(--main-border-radius);
  transition-property: border-color;
  transition-duration: var(--main-transition-duration);
  transition-timing-function: var(--main-transition-timing-function);

  &:focus-within {
    border-color: var(--brand-color);
  }
  &:focus-within .form__icon {
    fill: var(--brand-color);
    transition-property: fill;
    transition-duration: var(--main-transition-duration);
    transition-timing-function: var(--main-transition-timing-function);
  }
}
.form__icon {
  margin: 0 12px;
  fill: var(--main-text-color);
}
.form__input {
  border: none;
  outline: none;
  font-size: var(--second-font-size);
}
.form__comment {
  resize: none;
  width: 100%;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: var(--main-border-radius);
  padding-top: 12px;
  padding-left: 16px;
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 1.17;
  outline: none;
  transition-property: border-color;
  transition-duration: var(--main-transition-duration);
  transition-timing-function: var(--main-transition-timing-function);

  &:focus {
    border-color: var(--brand-color);
  }
}
