.menu {
  font-weight: 500;
  list-style-type: none;
  letter-spacing: 0.02em;
  line-height: 1.14;
  display: flex;
  margin-block: 32px;
  gap: 50px;
}
.menu__link {
  color: #212121;
  transition-property: color;
  transition-duration: var(--main-transition-duration);
  transition-timing-function: var(--main-transition-timing-function);
  position: relative;

  &:hover,
  &:focus {
    color: var(--brand-color);
  }
  &:hover::after {
    background-color: var(--brand-color);
  }
}
