.modal {
  position: relative;
  display: flex;
  align-items: center;
  width: 528px;
  height: 581px;
  background-color: var(--contrast-color);
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: var(--main-border-radius);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px;
}
